html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0% ;
}

.scroll-up {
    text-align: right;
    z-index: 50;
    position: fixed;
    right:30px;
    bottom:50px;
}

.scroll-up .scroll-up-button {
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: #206FB8;
    border: none;
    width: 47px;
    height: 45px;
    border-radius: 50%;
    align-items: right;
}

.scroll-up .scroll-up-button:hover{
    background-color: #1E96BA;
}

.side-bar {
    overflow: scroll;
    scroll-behavior: smooth;
    position: fixed;
    background-color: #FAFAFA;
    z-index: 70;
    width: 500px;
    height: 783px;
    right: 0px;
    padding: 30px 50px 30px 50px;
    transition: 0.3s;
    transform: translateX(100%);
}



.hidden {
    display: none;
}

.side-logo {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.side-text {
    text-align: center;
    font-size: 12.5px;
    font-weight: bold;
    padding-bottom: 30px;
}

#side_bar_button_back {
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: #206FB8;
    border: none;
    width: 47px;
    height: 45px;
    border-radius: 50%;
}

.picture-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 264px;
    padding-bottom: 20%;
    column-gap: 2px;
    text-align: center;
}

.picture-grid-item {
    display: flex;
    border: none;
    text-align: center;
    width: 123px;
    height: 123px;
    padding: 0px 5px 10px 5px;
    /* transition: all .3s; */
    overflow: hidden;
}

.picture-grid-item img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.picture-grid-item button {
    background: transparent;
    position: relative;
    outline: none;
    border: none;
}

.picture-grid-item img:hover {
    transform: scale(1.1);
}

.map-image {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.map-image img {
    width: 390px;
    height: 239px;
}

.facebook-link {
    text-align: center;
}

.facebook-link a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.facebook-link a:hover {
    color: #206FB8;
}


.image-display {
    background-color: rgba(0, 0, 0, .5);;
    z-index: 65;
    position: fixed;
    width: 100%;
    height: 100%;
}

.image-display-middle {
    display: flex;
    flex: 70%;
    position: absolute;
    height: 100%;
    width: 703px;
    z-index: 100;
    left: 24%;
    right: 24%;
}

.displayimage-backbutton {
    position: absolute;
    text-align: right;
    color: rgb(193, 193, 193);
    width: 703px;
    height: 50px;
}

.image-backbutton {
    color: #d3d3d3;
    font-size: 30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    margin-top: 13px;
}

.image-backbutton:hover{
    color: white;
}

.displayimage img{
    margin-top: 48px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.change-img-button {
    font-size: 30px;
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
    color: #d3d3d3;
    background: none;
    border: none;
}

#toback-button {
    left: 0px;
}

#tofoward-button {
    right: 0px;
}

.change-img-button:hover {
    color: white;
}

.row {
    display: flex;
    vertical-align: middle;
}

.header {
    background-color: white;
    margin: 0 auto;
    vertical-align: middle;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 2;
    box-shadow: 1px 1px 10px 2px #6b6b6b;
    align-items: center;
}

.program {
    position: relative;
}

.program:hover #sub-menu {
    display: block;
    height: 170px;
}

#sub-menu {
    color: black;
    overflow: hidden;
    position: absolute;
    top: 79px;
    left: 0;
    background-color: white;
    width: 200px;
    height: 0;
    transition: height 0.2s;
}

#sub-menu p:hover {
    color: #206FB8;
}

.hd-middle {
    font-size: 35px;
    flex: 80%;
    /* margin-left: 20%;
    margin-right: 20%; */
    line-height: 55px;
    text-align: center;
}

.hd-middle a:hover {
    color: #206FB8;
}

.header .header-image {
    flex: 10%;
    margin-left: 85px;
    margin-top: 15px;
    text-align: center;
}

.header button {
    flex: 10%;
    background-color: white;
    border: none;
    margin-right: 70px;
}

.header a {
    padding: 20px 20px 45px 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.main1 {
    background-image: url(/image/main1.png);
    background-position: 50%;
    height: 750px;
}

.container h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    margin-top: 0%;
    color: white;
}

.container p {
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 0%;
}

.container button {
    color: white;
    text-align: center;
    width: 15%;
    height: 4em;
    margin-left: 42%;
    margin-right: 43%;
    background-color: #ff5151;
    border-radius:30px;
    box-shadow: none;
    border: none;
    margin-top: 2%;
    transition: all .5s;
}

.container button:hover {
    background-color: #FF904C;
}

.main2 {
    display: flex;
    margin-top: -4%;
    height: 450px;
}

.main2 .colmn-left {
    flex: 70%;
    background-color: #E6F4F7;
    margin-left: 5%;
    border-radius: 10px;
    height: 100%;
}

.main2 .colmn-right {
    flex: 30%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

.main2 .colmn-left .tag p {
    color: #2F82F6;
    size: 14px;
    margin-left: 10%;
    margin-bottom: 0%;
    padding-top: 8%;
    font-weight: bold;
}

.main2-left-explanation p {
    size: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 13%;
}

.main2-left-title {
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    width: 80%;
    margin: 2% 10% 4% 10%;
    color: black;
}

.main2-right-title {
    background-color: #206FB8;
    size: 23px;
    color: white;
    text-align: center;
    width: 100%;
    margin-right: 10%;
    padding: 5%;
    font-weight: bold;
}

.main2-right-item {
    background-color: #E6F4F7;
    font-size: 13px;
    color: black;
    text-align: left;
    width: 100%;
    margin-top: 15px;
    padding: 5%;
    font-weight: bold;
    vertical-align: middle;
}

.main3 {
    background-color: #E6F4F7;
    margin-top: 8%;
    width: 100%;
}

.main3 h1 {
    font-size: 30px;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #E6F4F7;
    width: 82%;
    height: 550px;
    margin-left: 8%;
    margin-right: 8%;
    /* padding: 10px; */
    padding-bottom: 20%;
    column-gap: 5%;
    row-gap: 9%;
  }

  .grid-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #bfced1;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: left;
    width: 100%;
    height: 130px;
    border-radius: 5px;
    transition: all .3s;
  }

  .grid-item .icon-part {
    text-align: center;
    padding-top: 5%;
    margin: 5% 5% 5% 5%;
    width: 70px;
    height: 70px;
    flex-flow: column;
    background-color: #d8f8ff;
    border-radius: 50%;
  }

  .grid-item .icon-part img {
    transition: all .3s;
  }

  .content-part {
    vertical-align: middle;
    margin: 4% 0% 4% 0%;
  }

  .grid-item .content-part h2 {
    font-size: 20px;
    width: 200px;
    margin-bottom: 0%;
    padding-left: 10px;
    align-items: center;
  }

  .grid-item .content-part p {
    font-size: 13px;
    padding-bottom: 0%;
    padding-left: 10px;
    margin: 1%;
  }

  .grid-item:hover {
    color: white;
    background-color: #206FB8;
  }

  .grid-item:hover .icon-part{
    background-color: white;
  }

  .grid-item:hover .icon-part img{
    z-index: 1;
    transform:scale(0.8);
  }

.main4 {
    background-color: #F9F7F8;
}

.main4 h1 {
    font-size: 30px;
    padding-left: 8%;
    padding-top: 10%;
    padding-bottom: 2%;
    margin: 0%;
}

.grid-container-main4 {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 550px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 10px;
    column-gap: 25px;
    row-gap: 50px;
  }

  .grid-item-main4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #bfced1;
    padding: 30px 18px 30px 18px;
    text-align: left;
    vertical-align: middle;
    width: 380px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
  }

  .grid-item-main4 img {
    border-radius: 5px;
  }

.grid-item-main4 h2 {
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    padding: 0px 18px 0px 18px;
}

.main5-row {
    display: flex;
    flex-flow: row;
    text-align: left;
}

.main5-row .colmn-left {
    width: 50%;
    height: 445px;
    background-image: url(/image/main5.png);
    background-size: contain;
}

.main5-row .colmn-right {
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    background-color: aliceblue;
}

.main5-row .colmn-right h1{
    margin-bottom: 2%;
}

.main6 {
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.main6-row {
    display: flex;
    flex-flow: row;
    text-align: left;
    height: auto;
}


.main6-row .colmn-left {
    width: 100%;
    padding: 2%;
    background-color: #F9F8F8;
}

.main6-row .colmn-right {
    width: 100%;
    height: 100%;
}

#congra-img {
    height: 100%;
    width: 100%;
    object-fit: over;
}

.main6-row .colmn-left-item {
    margin: 4%;
    width: 92%;
}

.main6-row .colmn-left-item h1{
    margin-bottom: 2%;
}

.attention {
    color: black;
    background-color: white;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}

.active-attention {
    color: white;
    background-color:#206FB8;
    width: auto;
}

.attention-pop {
    background-color: white;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    transition: 0.3s;
    opacity: 0%;
    height: 0px;
    pointer-events: none;
}

.attention-pop p {
    padding-top: 4%;
    padding-bottom: 4%;
}

.active-attention-pop {
    opacity: 100%;
    height: fit-content;
}


.apply-button {
    color: white;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: #206FB8;
    border-radius:30px;
    box-shadow: none;
    border: none;
    margin-top: 2%;
    font-weight: bold;
    margin-top: 5%;
    transition: all .5s;
}

.apply-button:hover {
    background-color: #1E96BA;
}

.main7 {
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 5%;
    margin-bottom: 100px;
}

.main7 h1 {
    text-align: center;
    margin-bottom: 3%;
}

.main7-row1 {
    display: flex;
    flex-flow: row;
    height: 370px;
    height: fit-content;
}


.main7-row1 .colmn-left {
    width: 46%;
    margin-right: 2%;
    border-radius: 3%;
    background-color: #F3F8F9;
}

.main7-image {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.main7-row1 img{
    top: 15%;
    left: 40%;
    width: 80px;
    height: 80px;
    /* margin: 50px 250px 0px 250px; */
    text-align: center;
}

.main7-row1 .colmn-right {
    width: 46%;
    border-radius: 3%;
    background-color: #F3F8F9;
}

.main7-row1 .main7-colmn-item {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 8%;
    padding-left: 8%;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-style: italic;
    font-size: 20px;
}

.main7-row2 {
    display: flex;
    flex-flow: row;
}

.main7-row2 .colmn-left {
    margin-top: -2%;
    width: 46%;
    margin-right: 2%;
    text-align: center;
}

.main7-row2 .colmn-right {
    margin-top: -2%;
    width: 46%;
    text-align: center;
}

.main7-row2 .main7-colmn-name {
    font-size: 20px;
    font-weight: bold;
    color: #2F82F6;
}

.main7-row2 .main7-colmn-affiliation {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.footer {
    background-color: #283C66;
    background-image: url(/image/footer.png);
    background-size: 225%;
}

.footer .row {
    margin: 112px;
}

.footer-row {
    display: flex;
    flex-flow: column;
    text-align: left;
}

.footer .row div {
    flex: 30%;
    color: white;
    margin-right: 20px;
}

.footer-row .row {
    flex: calc(100/3%);
    margin-top: 6%;
}

.footer-row .row-middle {
    margin: 4px 70px 4px 70px;
}


.footer-explanation {
    font-size: 12px;
}

.footer-explanation ul {
    margin-left: 2em;
    margin-top: 2em;
}

.footer-explanation li {
    padding-bottom: 1em;
}

.footer-explanation-title {
    font-size: 18px;
    text-align: left;
    padding-bottom: 2%;
    padding-top: 2%;
}

.footer-bottom-row {
    margin-left: 70px;
    margin-bottom: 50px;
    text-align: left;
}
